.message {
  display: none;
  padding: 12px 0;
  font-size: 1em;
  color: #333;
  text-align: center;
  border-radius: 3px;
}

.show {
  display: block;
}

.success {
  color: white;
  background-color: #00c853;
}

.error {
  color: white;
  background-color: #df3e3e;
}
