.item {
  display: inline-block;
  width: 23.5%;
  padding: 20px;
  margin-right: 2%;
  margin-bottom: 2%;
  background: white;
  border-radius: 5px;
  box-shadow: rgba(0,0,0,0.14902) 0 4px 15px;
}

.container {
  padding: 0 40px;
}

@media (min-width: 1025px) {
  .item:nth-child(4n + 2) {
    margin-right: 0;
  }
}

@media (max-width: 1024px) and (min-width: 769px) {
  .item {
    width: 32%;
    margin-right: 2%;
  }

  .item:nth-child(3n + 2) {
    margin-right: 0;
  }
}

@media (max-width: 768px) and (min-width: 426px) {
  .item {
    width: 49%;
    margin-right: 2%;
  }

  .item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media (max-width: 425px) {
  .item {
    width: 100%;
    margin-right: 0;
  }
}

.create-box {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.edit {
  display: none;
}

.editing .edit {
  display: block;
}

.editing .info {
  display: none;
}

.destination {
  display: block;
  margin-bottom: 15px;
  font-size: 1.8em;
  color: #9c27b0;
}

.header {
  margin-top: 0;
  font-size: 2em;
  font-weight: normal;
  color: #2196f3;
}

.input-create {
  width: 20%;
  padding: 7px;
  margin-right: 10px;
  font-size: 1.2em;
  vertical-align: top;
  border: 1px solid #ccc;
}

@media (max-width: 1024px) {
  .input-create {
    width: 29%;
    margin-right: 2%;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .input-create {
    width: 48%;
    margin-right: 2%;
    margin-bottom: 10px;
  }
}

@media (max-width: 425px) {
  .input-create {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.date {
  display: block;
  color: #999;
}

.comments {
  display: block;
  min-height: 40px;
  margin-top: 30px;
  font-size: 1.2em;
}

.input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  font-size: 1.1em;
  background: none;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.date-input {
  display: inline-block;
  width: 49%;
}

.margin-right {
  margin-right: 2%;
}

.button {
  padding: 11px 13px;
  margin-top: 20px;
  margin-right: 7px;
  font-size: 1em;
  cursor: pointer;
  background: none;
  border: 1px solid;
  border-radius: 2px;
}

.save {
  color: white;
  background: #00c853;
}

.filter {
  width: 100%;
  padding: 15px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: white;
  background: #2196f3;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.filter::placeholder {
  color: white;
}

.save:hover {
  background: color(#00c853 blackness(+ 10%));
}

.delete {
  color: white;
  background: #df3e3e;
}

.delete:hover {
  background: color(#df3e3e blackness(+ 10%));
}

.primary {
  color: white;
  background: #2196f3;
}

.no-margin {
  margin: 0;
}

.primary:hover {
  background: color(#2196f3 blackness(+ 10%));
}
