@import '../settings';
@import '../common/colors';
@import '../common/typography';

.message {
  display: none;
  padding: 12px 0;
  font-size: var(--fontMedium);
  color: var(--colorBlack);
  text-align: center;
  border-radius: var(--globalRadius);
}

.show {
  display: block;
}

.success {
  color: var(--colorWhite);
  background-color: var(--colorSalem);
}
