@import '../common/colors';
@import '../common/typography';

.navigation {
  padding: 0 28px;
}

.svg {
  position: relative;
  top: 10px;
}

.item {
  display: inline-block;
  padding: 16px 32px 16px 0;
  color: var(--colorBlack);
  text-decoration: none;
}

.logo {
  font-size: var(--fontHuge);
}

.active {
  color: var(--colorDodgerBlue);
}
